:root {
  /*global scope*/
  --red: #ff6f69;
  --white: #fff;
  --beige: #ffeead;
  --yellow: #ffcc5c;
  --black: #000;
  --blue_footer: #137DC6;
}

/*MAIN CSS SELEKTORS*/

html,
body {
  background-color: var(--red);
  color: var(--yellow);
}

p {
  color: var(--yellow);
}

.container {
  margin: 0 auto;
  max-width: 1150px;
}

nav {
  --nav-text: #ccc;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul > li {
  list-style-type: none;
  display: inline-block;
  color: var(--nav-text);
  padding-left: 50px;
}

main {

  text-align: center;
}

.grid {
  margin: 0 auto;
}

.grid:after {
  display: table;
  clear: both;
  content: "";
}

.item {
  --red: #f2aeae;
  float: left;
  width: 40%;
  text-align: center;
  padding: 20px;
  border: 1px solid;
  margin: 1%;
}

.item button {
  background-color: var(--red);
}

footer {
  --yellow: #137DC6;
  background-color: var(--black);
}

.footer {
  --yellow: #137DC6;
  padding: 10px 20px;
}

footer h2 {
  text-align: center;
}
